	.navbar{
		background-color: rgb(32, 32, 32);
		/* rgb(164, 102, 160); */
	  	border: none;
	}

	.navbar h4{
		color: rgb(255, 255, 255, 0.9);
		font-family: arial;
		/*font-style: italic;*/
	}
	.navbar .navbar-toggler{
		border-color: white;
		color: white;
	}
/* important to remove hover */
	.navbar-brand{
		color: white !important;
		position: relative;
	}

	/* underline on hover */
/* https://codepen.io/maheshambure21/pen/QwXaRw */

	.collapse ul.navbar-nav>li>a{
		color: white;
	}

	.collapse ul.stroke>li>a{
		position: relative;
	}

	.collapse ul.stroke>li>a:after{
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  margin: auto;
		  width: 0%;
		  content: '.';
		  color: transparent;
		  background: #aaa;
		  height: 1px;
	}

	.collapse ul.stroke>li>a:hover:after{
		width: 100%;
	}


/* BODY */
.body{
	background-color: rgb(32, 32, 32, 0.3);
	width: 100%;
	height: 500px/*300px*/;
}


.con{
	/*background-color: rgb(32, 32, 32, 0.3);*/
	width: 100%;
	height: 500px/*300px*/;
}
.contact{
	margin: 5% 10%;
}

.container{
	/*background-color: rgb(32, 32, 32, 0.3);*/
	width: 100%;
	height: 600px/*300px*/;
}

#vid{
	margin: 10% 10% 10% 10%;
}

.break{
	width: 10px;
	height: 125px;
}
.desc{
	/*background-color: rgb(32, 32, 32, 0.5);*/
	background-color: rgb(32, 32, 32, 0.1);
	width: 50%;
	height: 500px/*300px*/;
}

/*.vid{
	background-color: rgb(32, 32, 32, 0.3);
	width: 250px;
	height: 500px;
}*/


/*top right bottom left*/
.desc p{
	padding: 10px 50px 10px 50px;
	background-color: black;
	color: white;
}
.carousel-item{
	height: 730px;
}

/*FOOTER*/
.footer{
	margin-bottom:0;
	background-color: rgb(32, 32, 32);
}

.footer #connect{
	font-size: 25px;
	color: white;
}

.footer #copyright{
	font-size: 12px;
	text-align: center;
	color: rgb(179, 179, 179, 0.7);
}

.footer a{
	color: white;
}

.footer a:hover{
	color: rgb(179, 179, 179);
}